@font-face {
    font-family: ndastroneer;
    src: url(../f/ndastroneer.ttf);
}

.logotext {
    font-family: ndastroneer;
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

header {
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 50px;
    height: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    margin-left: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: #ddd;
}

main {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

/* Additional styles for download buttons */
#download-buttons {
    margin-top: 20px;
}
#mod-github-button,
.split-button-left,
.split-button-right {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #e53935;
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
#mod-github-button:hover,
.split-button-left:hover,
.split-button-right:hover {
    background-color: #d32f2f;
}

/* Dark mode */
body.dark-mode {
    background-color: #121212;
    color: #f1f1f1;
}

header.dark-mode {
    background-color: rgba(18, 18, 18, 0.8);
}

main.dark-mode {
    background-color: rgba(18, 18, 18, 0.9);
}


.images {
    size: 50px;
    border-radius: 10px;
}

.code-block {
    background-color: #f4f4f4; /* Light gray background */
    border: 1px solid #ccc; /* Light gray border */
    padding: 10px; /* Padding around the text */
    border-radius: 5px; /* Slightly rounded corners */
    font-family: monospace; /* Monospace font for code */
    white-space: pre; /* Preserve white space */
    overflow-x: auto; /* Add horizontal scroll if content overflows */
}

span {
    color: inherit; /* Default to the inherited color */
}


footer {
    background-color: rgba(18, 18, 18, 0.9);
    height: 200px;
}

.loginForm {
    align-items: center;
}

.longy {
    font-family: ndastroneer;
    width: 40%;
    height: 50px;
    border-radius: 30px;
    margin-left: 30%;
    margin-bottom: 5px;
    border-style: none;
    text-align: center;
}

.longybutton {
    font-family: ndastroneer;
    width: 40%;
    height: 50px;
    border-radius: 30px;
    margin-left: 30%;
    margin-top: 5px;
    border-style: none;
    text-align: center;
    background-image: linear-gradient(140deg, rgb(255, 118, 214), rgb(0, 255, 157));
}
